.chat-message{
  background-image: url(../public/images/Untitled.png);
  padding: 10em;
  max-height: 450px;
  overflow-y: hidden;
  color: white;
}
.send-btn{
  padding: 4px 10px;
  background-color: #046AFF;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left:10px;
}
.message-right{
  background-color: #91fbff;
  border-radius: 25px 0px 25px 25px;
  padding: 0.5em 1em !important;
  margin: 30em;
  text-align: right;
}
.message-left{
  background-color: #1C9DEA;
  border-radius: 0 25px 25px 30px;
  padding: 0.5em 1em !important;
  margin: 1em;
}
.logo-head{
  display: flex;
  align-items: center;
  margin: 20px;
}
.text-bar{
  display: flex;
  align-items: baseline;
}
.copyrights{
  text-align: center;
}
.message-text{
  font-size: 20px;
 
}
.message-icon{
  font-size: 21px;
  margin: 5px;
  
}